<h1>Gardens</h1>
<p>Take a look at our gardens below</p>

<% @gardens.each do |garden| %>
  <div class="col-6">
    <div class="card-garden">
        <%= cl_image_tag garden.image.key, alt: "#{garden.name} Image", class: "card-garden-img" %>
        <h2><%= link_to garden.name, garden_path(garden) %></h2>
        <p><%= garden.description %></p>
    </div>
  </div>
<div>


<% if current_user == garden.user %>
      <%= link_to "Delete",
                  gardendestroy_path(garden),
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    <% end %>
  </div>
  <br />
<% end %>
<div>
  <%= link_to "New garden", new_garden_path %>
</div>
<br />



<div>
  <%= link_to "New garden", new_garden_path %>
</div>
