<div class="container ">
  <h1>Renting Your Schrebergarten Adventure</h1>
  <p>Take a look at our beautiful Schrebergärten below:</p>
  <div class="row row-margin">
    <% @gardens.each_slice(2) do |garden_group| %>
      <% garden_group.each do |garden| %>
        <div class="col-md-6 card-garden-col">
          <div class="card-garden border p-3 position-relative">
            <% if garden.main_photo.present? %>
              <%= cl_image_tag garden.main_photo.key, alt: "#{garden.name} Image", class: "card-garden-img" %>
            <% end %>
            <div class="card-garden-content">
              <h2><%= link_to garden.name, garden_path(garden), class: "text-decoration-none" %></h2>
              <p class="mb-3"><%= garden.description %></p>
              <div class="card-garden-details">
                <p class="address"><i class="fas fa-map-marker-alt"></i> <%= garden.address %></p>
                <p class="price"><i class="fas fa-euro-sign"></i><strong> <%= garden.price %></strong></p>
              </div>
            </div>
            <div class="card-garden-delete d-flex justify-content-end">
              <% if current_user == garden.user %>
                <%= link_to "Delete", garden_path(garden), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm rounded text-white" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <br />

  <div class="ml-md-3">
    <div class="text-center mb-3">
      <%= link_to "Add a new garden", new_garden_path, class: "btn btn-success btn-sm rounded text-white btn-add-garden" %>
    </div>
  </div>
</div>
