<div class="container">
<h1>Create a new Garden</h1>
  <%= simple_form_for(@garden) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :image, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
