<div class="container">
  <h1> <%= @garden.name %></h1>
  <%# <p>Find me in app/views/gardens/show.html.erb</p> %>

  <div class="row">

    <div class="col-6">
      <%= cl_image_tag @garden.sub_photos.first.key, alt: "#{@garden.name} Image", class: "card-garden-img",crop: "fit" %>
    </div>

    <div class="col-6">
      <%= cl_image_tag @garden.sub_photos.last.key, alt: "#{@garden.name} Image", class: "card-garden-img", crop: "fit"  %>

    </div>
  </div>

  <div class="row">
    <div class="col-6 description">
      <%= @garden.description %>
    </div>

    <div class="col-6 price d-flex justify-content-end">
      <%= @garden.price.to_i %> $
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= @garden.address %>
    </div>
  </div>

  <div>
    <%= link_to "Back to list", root_path %>
  </div>

<% if user_signed_in? %>
  <div style="text-align: center;">
  <%= link_to "Book", new_garden_booking_path(@garden), class: "btn btn-primary", id: "booking-button" %>
  </div>
<% end %>
</div>
